<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
 <suite name="regression-tests">
    <parameter name="browser" value="firefox"/>

    <test name="test-1-packages" enabled="true">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <packages>
            <package name="testNG"/>
<!--            <package name="com.pragmatic.selenium.tests"/>-->
        </packages>
    </test>

    <test name="test-2-classes" enabled="false">
        <classes>
            <class name="com.pragmatic.selenium.tests.SauceLoginTest"/>
            <class name="com.pragmatic.selenium.tests.SauceNavigationAndLogoutTest"/>
        </classes>
    </test>
    
    <test name="test-3-methods" enabled="false">
        <classes>
            <class name="com.pragmatic.selenium.tests.SauceProductListTest">
              <methods>
                  <include name="testVerifyProductPage"/>
                  <include name="testClickAddToCartButtonForEachProduct"/>
                  <include name="testRemoveButtonFunctionality"/>
              </methods>
            </class>
            <class name="com.pragmatic.selenium.tests.SauceLoginTest">
                <methods>
                    <exclude name="testVerifyPlaceholderOfUserAndPassword"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="test-4-grouping" enabled="true">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="com.pragmatic.selenium.homework.LoginTest"/>
        </classes>
    </test>
</suite>